@using FitnessCenterManagement.WebApp.Views.Shared.Resources
@using FitnessCenterManagement.WebApp.Views.Reviews.Resources
@model FitnessCenterManagement.WebApp.Models.ReviewEditModel
@{
    ViewData["Title"] = ReviewsRes.CreateNewItem;
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-controller="Reviews" asp-action="create" asp-antiforgery="true" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    
    <div class="form-group row">
        <label asp-for="Text" class="col-md-2 control-label"></label>
        <textarea class="form-control" asp-for="Text" aria-label="With textarea"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>


    <div class="form-group row justify-content-center">
        <label asp-for="IsAnonymous" class="control-label"></label>
        <input type="checkbox" asp-for="IsAnonymous" class="form-control" />
        <span asp-validation-for="IsAnonymous" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary btn-icon" value="@ReviewsRes.SendBtn" />
        </div>
    </div>
</form>

@await Html.PartialAsync("_ReturnGrayButton", ("Index", "Reviews", SharedStringRes.GoBackBtn))
